html {
	background:#444;
}
body {
	margin:0 auto;
	background:white;
	width:640px;
	height:600px;
	font-family: georgia;
}

#header {
	padding:20px;
}
#header h1 {
	margin-top:4px;
}
#game {
	position:relative;
}
.peasant {
	background:url('/images/peasant-full.gif') no-repeat -128px 0px;
	position:absolute;
	margin:8px;
	top:0;
	left:64px;
	width:48px;
	height:48px;
}
#menu {
	color:white;
	border:3px solid #99451E;
	background:#3B100B;
	padding:8px;
	padding-bottom:none;
	height:100px;
}
#menu #selection {
	font-family:lucida grande,lucida sans console;
	text-align:center;
}
#menu #selection #portrait {
	margin-right:8px;
	float:left;
	display:block;
	height:94px;
	width:94px;
	border:3px solid red;
}
#menu #selection #tasks {
	float:left;
	font-size:10px;
	font-weight:bold;
	width:200px;
}
#menu #selection a.task {
	background:#333;
	color:white;
	float:left;
	display:block;
	height:34px;
	width:42px;
	margin-bottom:4px;
	border:3px solid red;
	padding-top:8px;
	margin-right:8px;
}
#menu #selection a:hover.task {
	border:3px solid orange;
	background:#222;
}
#menu #selection a.task img {
	position:absolute;
	z-index:5;
}
#menu #message {
	width:150px;
	float:left;
}
#menu #info {
	margin-left:8px;
	margin:0;
	height:94px;
	width:94px;
	float:right;
	border:3px solid #99451E;
}
.tile {
	position:absolute;
	display:block;width:64px;height:64px;
}
.tile.big {
	width:128px;height:128px;
}
.highlight.big {
	width:128px;height:128px;
}